main{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    text-align: center; 
}


#video1{
    order:1;
    flex-grow:3;
    
}

#video2{
    order:1;
    flex-grow:3;
    
}

#video3{
   order:1;
    flex-grow: 3;
}

#video4{
   order:1;
    flex-grow: 3;
}

#video1,#video2,#video3,#video4{
    height:250px;
    background-color:#369;
    border:5px;
    border-color:#000;
    border-style: solid;
    margin-right:5px;
    
}


/*next line*/

.kotakteks{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    text-align: center;  
}
/*adding article is not necessary, but could be more informative.*/

.kotakteks div#cool{
    order:2;
    flex-grow: 3; 
}

.kotakteks div#warm{
    order:1;
    flex-grow: 5; 
}

.kotakteks div#hot{
    order:3;
    flex-grow: 1; 
}

.kotakteks #warm,.kotakteks #hot,.kotakteks #cool{
    border:.8em .8em .8em .8em;
    border-style: solid;
    border-color: #000;
    background-color:black;
    display:block;
}


 